/* カレンダー全体のスタイル */
.react-calendar {
  min-width: 350px; /* 必要に応じて調整 */
  min-height: 250px; /* 必要に応じて調整 */
  max-width: 500px; /* お好みで */
  max-height: 400px; /* お好みで */
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #554d4d;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
  padding: 10px;
}

/* 月・年のタイトルとナビゲーション */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;
}

.react-calendar__navigation button:hover {
  background: #ffffff;
}

/* 曜日のラベル */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.react-calendar__month-view__weekdays__weekday:nth-child(6) {
  color: blue;
}
/* 土曜日を青に */
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  color: red;
}

/* 各日付セル */
.react-calendar__tile {
  background: none;
  border: none;
  padding: 3px 0;
  text-align: center;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
}

.react-calendar__tile.saturday {
  color: blue;
}

/* （オプション）日曜日を赤くする */
.react-calendar__tile.sunday {
  color: red;
}

.react-calendar__tile:hover {
  background-color: #ffffff;
}

.react-calendar__tile--now {
  background: rgb(116, 204, 255);
  font-weight: bold;
  border-radius: 8px;
}

.react-calendar__tile--active {
  background: #0078d4;
  color: rgb(0, 0, 0);
  border-radius: 50%;
}

/* 今日ボタン */
button {
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #177fcf;
}

/* ポップアップ本体 */
.popup-content {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  min-width: 200px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.today-date {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.today-curriculum {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.today-place {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.tomorrow-curriculum {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.tomorrow-place {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.today-info-box {
  background: #f5f8fa;
  border: 2px solid #0078d4;
  border-radius: 12px;
  padding: 20px 24px;

  display: inline-block;
  min-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
.tomorrow-info-box {
  background: #f5f8fa;
  border: 2px solid #ff7300;
  border-radius: 12px;
  padding: 20px 24px;

  display: inline-block;
  min-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.react-calendar__navigation__label {
  pointer-events: none;
}
